
  <ion-header>
    <ion-toolbar>
      <ion-searchbar 
        showCancelButton="always" 
        #qq 
        (keyup.enter)="search(qq.value)" 
        (ionCancel)="dismiss()"
        [value] = "search_value"
        placeholder="Buscar"
        [disabled] =" wait_records "
        ></ion-searchbar>
        <ion-progress-bar [style.visibility]="wait_records ? 'visible':'hidden'" [type]=" wait_records ? 'indeterminate' : 'determinate'"  value="0"></ion-progress-bar>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-list *ngIf=" products_info.records && products_info.records.length > 0 else no_products_found ">
      <ion-item 
        class="ion-activatable ripple-parent" 
        *ngFor=" let product of products_info.records "
        (click)="selectProduct(product)"
      >
        <ion-label>
          {{ product.prod_name }}<br/>
          Código: {{ product.prod_barcode }}<br/>
          Stock: {{ product.prod_stock }}<br />
          Precio Ref: S/. {{ product.prod_price }}
        </ion-label>
        <ion-ripple-effect></ion-ripple-effect>
      </ion-item>
    </ion-list>
    <ng-template #no_products_found>
      <ion-label *ngIf="flag">No se encontraron productos</ion-label>
    </ng-template>
  </ion-content>
  