.el-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    margin: 5px auto;
    display: block;
    text-align: center;
}
  
.el-full-width {
    width: 95%;
    display: block;
    margin: 2px auto;
}
.el-form .mat-form-field + .mat-form-field {
    margin-left: 8px;
}
.login-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
#loading-container{
    display: inline-block;
    margin: 1px auto;
}