<ion-header>
  <ion-toolbar>
    <ion-title>Iniciar sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <mat-progress-bar [style.visibility]="sync_login.wait ? 'visible':'hidden'" [mode]=" sync_login.wait ? 'indeterminate' : 'determinate'" value="0"></mat-progress-bar>
  <div class="login-container">
    <form [formGroup]="form" [class]="'el-form'">
      <mat-form-field appearance="fill" [class]="'el-full-width'">
        <mat-label>Usuario</mat-label>
        <input type="text" matInput placeholder="usuario" [formControl]="username" required>
        <mat-error *ngIf="username.invalid">{{getUsernameErrorMessage()}}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill" [class]="'el-full-width'">
        <mat-label>Ingrese su contraseña</mat-label>
        <input matInput [type]="hidePassword ? 'password' : 'text'" [formControl]="password" >
        <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Ocultar password'" [attr.aria-pressed]="hidePassword">
        <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <div class="buttons">
        <button *ngIf=" !sync_login.wait else show_loading " mat-raised-button color="primary" (click)="login()">Ingresar</button>
        <ng-template #show_loading>
          <div id="loading-container">
            <mat-spinner [diameter]="25"></mat-spinner>
          </div>
        </ng-template>
      </div>
    </form>
  </div>
</ion-content>
