<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()" [disabled]=" processing_order ">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Agregar Pedido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [disabled]=" processing_order ">
      <ion-icon name="settings-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
      <ion-fab-button (click)="addProduct()" [disabled]=" processing_order ">
        <ion-icon name="add-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="confirmOrder()" [disabled]=" processing_order || products.length == 0 ">
        <ion-icon name="checkmark-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  <ion-item>
    <ion-label>Para la fecha:</ion-label>
    <ion-datetime name="issued_at"
      doneText="Listo" 
      cancelText="Cerrar" 
      [value]="issued_at.format('YYYY-MM-DD')"
      [min]="minIssuedDate.format('YYYY-MM-DD')"
      [max]="maxIssuedDate.format('YYYY-MM-DD')"
      displayFormat="DD/MM/YYYY"></ion-datetime>
  </ion-item>
  <ion-list>
    <ion-item-sliding 
      *ngFor=" let product of products ">
      <ion-item-options side="start">
        <ion-item-option color="danger" (click)="showRemoveProductAlert(product)">
          <ion-icon name="trash-outline"></ion-icon> Quitar
        </ion-item-option>
      </ion-item-options>
  
      <ion-item>
        <ion-label (click)="previewProductInfoModal(product)">
          {{ product.prod_name }}<br/>
          Código: {{ product.prod_barcode }}<br/>
          Stock: {{ product.prod_stock }}<br />
          Precio Ref: S/. {{ product.prod_price }}
        </ion-label>
        <ion-buttons slot="end">
          <ion-button size="small" (click)="incProductQuantity(product)">
            <ion-icon name="add-outline"></ion-icon>
          </ion-button>
          <ion-button size="small">
            {{ product.product_quantity }}
          </ion-button>
          <ion-button size="small" (click)="decProductQuantity(product)">
            <ion-icon name="remove-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>
    </ion-item-sliding>
    <!--
    <ion-item 
      *ngFor=" let product of products "
    >
      <ion-label>{{ product.prod_name }}</ion-label>
      <ion-buttons slot="end">
        <ion-button size="small" (click)="incProductQuantity(product)">
          <ion-icon name="add-outline"></ion-icon>
        </ion-button>
        <ion-button size="small">
          {{ product.product_quantity }}
        </ion-button>
        <ion-button size="small" (click)="decProductQuantity(product)">
          <ion-icon name="remove-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
    -->
  </ion-list>
</ion-content>
