<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="primary">
      <ion-button (click)="openAddModal()"><ion-icon name="add-outline"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>
      Pedidos de Repuestos
    </ion-title>
    <ion-progress-bar [style.visibility]="orders_info.wait_list ? 'visible':'hidden'" [type]=" orders_info.wait_list ? 'indeterminate' : 'determinate'"  value="0"></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="primary">
        <ion-button (click)="openAddModal()"><ion-icon name="add-outline"></ion-icon></ion-button>
      </ion-buttons>
      <ion-title size="large">
        Pedidos de Repuestos
      </ion-title>
      <ion-progress-bar [style.visibility]="orders_info.wait_list ? 'visible':'hidden'" [type]=" orders_info.wait_list ? 'indeterminate' : 'determinate'"  value="0"></ion-progress-bar>
    </ion-toolbar>
  </ion-header>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list *ngIf=" orders_info.records && orders_info.records.length > 0 else no_records_found ">
    <ion-item 
      class="ion-activatable ripple-parent" 
      *ngFor=" let record of orders_info.records "
    >
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button color="light" (click)=" record.show_products = !record.show_products">
              <ion-icon name="arrow-down-outline"></ion-icon>
            </ion-button>
            <ion-label>
              Fecha: {{ transformIssuedAtDate(record.issued_at) }}<br />
              Total productos: {{record.items.length}}
            </ion-label>
          </ion-col>
        </ion-row>
        <ion-row *ngIf=" record.show_products ">
          <ion-col>
            <ion-list>
              <ion-item  *ngFor=" let item of record.items ">
                {{ item.product_id }}
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
  <ng-template #no_records_found>
    <ion-label *ngIf="flag">No se encontraron pedidos de productos</ion-label>
  </ng-template>
</ion-content>
