
<ion-menu side="start" menuId="first" contentId="main">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Inversiones Zavaleta</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>Inicio</ion-item>
      <ion-item>Productos</ion-item>
      <ion-item>Pedidos</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-menu side="end" type="push" contentId="main">
  <ion-header>
    <ion-toolbar color="danger">
      <ion-title>Configuración</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>Cerrar sesión</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-content id="main">
  <ion-tabs>
  
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="tab1">
        <ion-icon name="triangle"></ion-icon>
        <ion-label>Inicio</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="orders">
        <ion-icon name="ellipse"></ion-icon>
        <ion-label>Pedidos</ion-label>
      </ion-tab-button>
      <!--
      <ion-tab-button tab="tab3">
        <ion-icon name="square"></ion-icon>
        <ion-label>Tab 3</ion-label>
      </ion-tab-button>
      -->
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
