<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>
  <div *ngIf="true">asd</div>
  <mat-slider min="1" max="100" step="1" value="1"></mat-slider>
  <app-explore-container name="Tab 3 page"></app-explore-container>
</ion-content>
